
/* Blog Pages
================================================================ */

body.blog-index {

	.blog-items {
		.thumb {
			height: 200px;
		}
	}

} // end body.blog-index

.post-meta {
	position: relative;
	margin-bottom: 4em;
	.thumb {
		display: block;
		height: 200px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.profile {
		position: absolute;
		bottom: -35px;
		left: 3.5%;
		height: 75px;
		width: 75px;
		display: inline-block;
	}
}