
/* Scroll to Top
================================================================ */

.scroll-top {

	display: none;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	color: rgba(0,0,0,0.6);
	border-color: rgba(0,0,0,0.6) !important;
	z-index: 9;
	&.visible {
		opacity: 0.5 !important;
	}
	&:hover {
		opacity: 1 !important;
		color: white;
		border-color: $brand-1 !important;
	}

	@media (min-width: 1500px) {
		display: block;
	}

} // end .scroll-top